# SQL Server connection string örneği
# Windows Auth:
# SQLSERVER_CONN_STR=DRIVER={ODBC Driver 18 for SQL Server};SERVER=localhost;DATABASE=DepoTakipDB;Trusted_Connection=yes;TrustServerCertificate=yes

# SQL Login:
SQLSERVER_CONN_STR=DRIVER={ODBC Driver 18 for SQL Server};SERVER=localhost;DATABASE=DepoTakipDB;UID=sa;PWD=YourStrong(!)Password;TrustServerCertificate=yes
